<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/book/search}">
    <label for="search">Введите поисковой запрос: </label>
    <input type="text" id="search" name="query"/>
    <br/>
    <input type="submit" value ="Искать!"/>
</form>

<div th:if="${book}">
    <div th:if="${book.isEmpty()}">
        <span>Нет нихуя</span>
    </div>

    <div th:each="book:${book}">

        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Книга сейчас у: </span><span th:text="${book.getOwner().getName()}">Person Name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Свободная книга!</span>
        </div>
        <hr/>
    </div>
</div>

</body>
</html>